.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.searchBar {
  margin-bottom: 25px;
  margin-right: 25px;
  width: 70% !important;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 15px;
}

.filterTitle {
  display: inline;
  margin-right: 10px;
  font-size: 16px;
}

.maxTitle,
.minTitle {
  font-size: 16px;
  margin-right: 10px;
}
