/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

.outerContainer {
  display: flex;
  justify-content: center;
  height: calc(100vh - 72px);
  overflow-y: scroll;
}

.innerContainer {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
}

.card {
  margin-right: 30px !important;
  margin-bottom: 30px !important;
}

.amenityCard {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

.reviewCard {
  margin: 10px 0 !important;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
