.headerInfo {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}