.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 16.6px;
}

.desContainer {
	margin-top: 10px;
}

.description {
	display: block;
	margin: 0;
	line-height: 17.5px;
}
