.outerContainer {
	display: flex;
	justify-content: center;
	height: calc(100vh - 72px);
	overflow-y: scroll;
}

.innerContainer {
	display: flex;
	width: 75%;
	flex-direction: column;
}

.titleContainer {
	display: flex;
	justify-content: center;
	
}
